.mp-image-block {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.article-template__content ol {
  margin:0 0 1.5em;
  padding:0;
  counter-reset:item;
}
 
.article-template__content ol>li {
  margin:0;
  padding:0 0 1em 2em;
  text-indent:-2em;
  list-style-type:none;
  counter-increment:item;
}

.article-template__content ol>li:before {
  display:inline-block;
  width:1.5em;
  padding-right:0.5em;
  font-weight:bold;
  text-align:right;
  content:counter(item) ".";
}